<div class="results-list">

  <% events.forEach((event) => { %>
  <h3 class="results-title"><%= event.year %></h3>

  <% if (typeof event.description !== undefined) { %>
  <p class="results-description">
    <%= event.description %>
  </p>
  <% } %>

  <div class="results-articles">
    <span>Wikipedia articles: </span>
    <% event.wikipedia.forEach((article, idx) => { %>
    <% if (idx !== 0) { %>
    <span>/</span>
    <% }  %>
    <a href=<%= article.wikipedia %> class="article-link">
      <p><%= article.title %></p>
    </a>
    <% }) %>
  </div>

  <hr />

  <% }) %>
</div>